@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #f2f4fc;
}

body {
  background-color: #f2f4fc;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  min-height: 100%;
}

li {
  list-style: none;
}

a {
  color: #6b708d;
  text-decoration: none;
}

.navbar {
  margin: auto;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-logo {
  width: 60px;
  height: 18px;
  background-image: url(.//project-assets/logos/circle.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-link {
  transition: 0.7s ease;
  font-weight: 500;
}

.nav-link:hover {
  color: #1c2fa9;
}

/* .nav-link.current {
  color: #0082f3;
} */

.button-primary {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.7s ease;
  color: #f2f4fc;
  font-weight: 500;
}

.button-primary {
  padding: 15px 30px;
  background-color: #072ac8;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  float: right;
  padding: 27px;
}

.bar {
  display: block;
  width: 17px;
  height: 3px;
  margin: 2px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6b708d;
}

@media (max-width: 991px) {
  .hamburger {
    display: block;
  }
  .hamburger.active.bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active.bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active.bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.hamburger.active {
  background-color: #c8c8c8;
}

/* .bar.active {
  background-color: white;
} */

.menu-button {
  display: none;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: #c8c8c8;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-item {
  margin: 16px 0;
  font-weight: bold;
}

.nav-menu.active {
  left: 0;
  padding: 20px;
  font-size: 17px;
  align-items: flex-start;
  font-weight: 500;
}
