@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #f2f4fc;
}

body {
  background-color: #f2f4fc;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  min-height: 100%;
}

li {
  list-style: none;
}

a {
  color: #6b708d;
  text-decoration: none;
  background-color: transparent;
}

a:-webkit-any-link {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

div {
  display: block;
}

form {
  display: block;
  margin-top: 0em;
}

input {
  line-height: normal;
}

.navbar.container {
  margin: auto;
  margin-top: 70px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-logo {
  width: 60px;
  height: 18px;
  background-image: url(.//project-assets/logos/circle.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-link {
  transition: 0.7s ease;
  font-weight: 500;
  font-size: 17px;
}

.nav-link:hover {
  color: #1c2fa9;
}

.button-primary {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.7s ease;
  color: #f2f4fc;
  font-weight: 500;
  padding: 15px 30px;
  background-color: #072ac8;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  float: right;
  padding: 27px;
}

.bar {
  display: block;
  width: 17px;
  height: 3px;
  margin: 2px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6b708d;
}

.hamburger.active {
  background-color: #c8c8c8;
}

/* HERO SECTION */

.section {
  margin-top: 0px;
  padding: 0 30px;
}

.section.hero {
  padding-top: 100px;
}

.container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.container.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  max-width: 530px;
}

.heading-2 {
  color: #292e47;
  font-size: 60px;
  line-height: 130%;
}

.heading-2.hero-heading {
  margin-bottom: 30px;
}

.text-block {
  max-width: 435px;
  margin-bottom: 0px;
  color: #6b708d;
  line-height: 150%;
  font-size: 20px;
}

.text-block.hero-description {
  margin-bottom: 40px;
}

.hero-buttons {
  display: block;
  justify-content: flex-start;
  align-items: center;
}

.hero-text-button {
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  align-self: center;
  margin: 15px 40px 0px 20px;
}

.button.hero {
  margin-right: 40px;
  margin-left: 20px;
}

.button {
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17;
}

.w-button {
  display: inline-block;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.hero-image {
  position: relative;
}

.hero-main-card {
  width: 500px;
  max-width: 560px;
}

.hero-card-1 {
  position: absolute;
  left: -19%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 294px;
  max-width: 294px;
}

.hero-card-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: -25%;
  bottom: -22%;
  width: 290px;
  max-width: 290px;
}

/* LOGO SECTION */

.container.logos {
  margin-top: 130px;
}
.grid-logos {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.client-logo {
  display: flex;
  width: 150px;
  height: 96px;
  max-height: 96px;
  max-width: 150px;
  justify-content: center;
  align-items: center;
}

/* PROJECTS SECTION */

.section.projects {
  margin-top: 200px;
}

.container.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-heading {
  color: #292e47;
  font-size: 40px;
}

.collection-list-wrapper {
  margin-top: 70px;
}

.collection-list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.project-card {
  display: flex;
  width: 340px;
  height: 444px;
  max-height: 444px;
  max-width: 340px;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.project-card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.project-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-title {
  margin: 30px 30px 20px;
  color: #292e47;
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
}

.project-title.project-description {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
}

.project-link {
  margin: 30px;
  color: #072ac8;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

/*SECTION TESTIMONIAL*/

.section.testimonial {
  position: relative;
  height: 622px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #292e47;
  background-image: url(./project-assets/testimonial-section/orbit.png);
  background-position: 0px 0px;
  background-size: contain;
  color: #292e47;
}

.testimonial {
  max-width: 1320px;
  color: #292e47;
}

.container.testimonial {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.testimonial-heading {
  color: #ecf7ff;
  font-size: 40px;
  text-align: center;
}

.testimonial-text {
  max-width: 560px;
  margin-right: auto;
  margin-left: auto;
  color: #ffc600;
  font-size: 24px;
  line-height: 160%;
  font-weight: 500;
  text-align: center;
}

.client {
  display: flex;
  align-items: center;
}

.client-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(./project-assets/testimonial-section/profile.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.client-info {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.client-name {
  color: #a2d6f9;
  font-size: 17px;
}

.client-position {
  color: #ecf7ff;
  font-size: 13px;
}

.emoji {
  position: static;
  width: 150px;
  height: 150px;
}

.emoji.top-left {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 5%;
  margin-left: 10%;
  background-image: url(./project-assets/testimonial-section/memoji-1.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.emoji.top-right {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 5%;
  margin-right: 10%;
  background-image: url(./project-assets/testimonial-section/memoji-4.png);
  background-position: 50% 50%;
  background-size: contain;
}

.emoji.bottom-left {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding-left: 0%;
  background-image: url(./project-assets/testimonial-section/memoji-3.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.emoji.bottom-right {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-right: 10%;
  margin-bottom: 5%;
  background-image: url(./project-assets/testimonial-section/memoji-2.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* SECTION SERVICES*/

.section.services {
  margin-top: 200px;
}

.services-grid {
  display: grid;
  margin-top: 70px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.service-card {
  display: flex;
  max-width: 340px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.service-icon {
  width: 80px;
  height: 80px;
  margin-top: 40px;
  margin-left: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 50%;
  background-color: #ecf7ff;
  background-image: url(./project-assets/services-section/icons/1.svg);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.service-icon.icon-2 {
  background-image: url(./project-assets/services-section/icons/2.svg);
}

.service-icon.icon-3 {
  background-image: url(./project-assets/services-section/icons/3.svg);
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* FORMULARIO*/

.section.cta-section {
  width: 1320px;
  height: 500px;
  max-width: 1320px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffc600;
}

.container.container-cta {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-heading {
  margin-bottom: 20px;
  color: #292e47;
  font-size: 40px;
}

.cta-subtitle {
  font-size: 17px;
}
.form-block {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
}

.w-form {
  margin: 0 0 15px;
}

.cta-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-textfield-wrapper {
  position: relative;
}

/*FORM-BUTTONS*/

.w-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.text-field {
  width: 393px;
  height: 80px;
  margin-bottom: 0px;
  padding-left: 70px;
  background-color: #ecf7ff;
  color: #292e47;
}

.textfield-icon {
  position: absolute;
  left: 8%;
  top: 27%;
  right: auto;
  bottom: auto;
  width: 30px;
  height: 30px;
  background-image: url(./project-assets/newsletter/icon/mail.svg);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.button.primary-button.cta-button {
  height: 80px;
  margin-left: 20px;
  padding-right: 60px;
  padding-left: 60px;
}

/*FOOTER*/

.section.footer {
  margin-top: 200px;
  padding-bottom: 100px;
}

.container.footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.footer-content {
  display: flex;
  width: 260px;
  max-width: 260px;
  flex-direction: column;
}
.footer-content-logo {
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
  background-image: url(./project-assets/logos/circle.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-content-address {
  font-size: 17px;
  line-height: 150%;
}
.footer-links {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.footer-link {
  font-size: 17px;
  text-decoration: none;
  color: #0000ee;
}

@media (max-width: 991px) {
  .menu-button {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active.bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active.bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active.bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    /* left: -100%; */
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: #c8c8c8;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
    font-weight: bold;
  }
  .nav-menu.active {
    top: 70px;
    padding: 20px;
    font-size: 17px;
    align-items: flex-start;
    font-weight: 500;
  }
}
@media screen and (max-width: 767px) {
  .heading-2.hero-heading {
    font-size: 30px;
  }
  .text-block.hero-description {
    font-size: 17px;
  }

  .emoji.bottom-right {
    display: none;
  }
  .emoji.bottom-left {
    display: none;
  }
  .emoji.top-right {
    display: none;
  }
  .emoji.top-left {
    display: none;
  }
  .projects-heading {
    text-align: center;
    font-size: 30px;
  }
  .services-grid {
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .service-card {
    max-width: 100%;
  }
  .service-icon.icon-1 {
    flex: 0 0 auto;
  }
  .service-icon.icon-2 {
    flex: 0 0 auto;
  }
  .service-icon.icon-3 {
    flex: 0 0 auto;
  }

  /*FORM*/

  .container.container-cta {
    max-width: 100%;
  }

  .cta-heading {
    font-size: 30px;
  }

  .text-field {
    width: 100%;
  }

  .button.primary-button.cta-button {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }

  .form-block {
    flex-direction: column;
  }

  .cta-form {
    flex-direction: column;
  }

  .button.primary-button.cta-button {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }

  /*FOOTER*/

  .emoji .container.footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-content {
    align-items: center;
  }
  .footer-links {
    margin-top: 20px;
  }
  .footer-content-address {
    text-align: center;
  }
  .container.footer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 991px) {
  /*NAVBAR*/

  .container.navbar {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 0px;
  }

  /* PROJECTS SECTION*/

  .section.hero {
    padding-top: 0px;
  }
  .container.hero-container {
    flex-direction: column;
  }
  .hero-content {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
  .hero-heading {
    margin-bottom: 30px;
  }
  .heading-2.hero-heading {
    text-align: center;
  }
  .text-block.hero-description {
    max-width: 600px;
    text-align: center;
  }
  .hero-buttons {
    display: flex;
    flex-direction: column-reverse;
  }
  .button.hero {
    display: block;
    margin-right: 40px;
    margin-left: 20px;
  }
  .hero-image {
    margin-top: 40px;
  }
  .hero-main-card {
    width: 100%;
    max-width: 560px;
  }
  .hero-card-1 {
    display: none;
    width: 270px;
  }
  .hero-card-2 {
    display: none;
    width: 270px;
  }

  /*LOGOS SECTION*/

  .grid-logos {
    justify-items: center;
    align-items: center;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  /* PROJECTS SECTION*/

  .section.projects {
    margin-top: 40px;
  }
  .collection-list {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .project-card {
    width: 100%;
    max-width: 100%;
  }
  /* TESTIMONIAL SECTION*/

  .section.testimonial {
    height: 500px;
    margin-top: 60px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .testimonial-heading {
    max-width: 400px;
    margin-bottom: 0px;
    line-height: 150%;
  }
  .emoji.top-left {
    width: 100px;
    height: 100px;
  }
  .emoji.top-right {
    width: 100px;
    height: 100px;
  }
  .emoji.bottom-left {
    width: 100px;
    height: 100px;
  }
  .emoji.bottom-right {
    width: 100px;
    height: 100px;
  }

  /*SECTION SERVICES*/

  .section.services {
    margin-top: 40px;
  }

  .section.cta-section {
    display: flex;
    max-width: 100%;
    margin-top: 60px;
    flex-direction: row;
  }
  .emoji.top-ri .section.cta-section {
    display: flex;
    max-width: 100%;
    margin-top: 60px;
    flex-direction: row;
  }
  .emoji.bo .section.footer {
    margin-top: 60px;
  }

  /*FOOTER*/

  .button.primary-button.cta-button {
    display: block;
  }
  .section.footer {
    margin-top: 60px;
  }
}
